@(title: String)(content: Html)(implicit request: RequestHeader)

@import play.api.Logger

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/docs.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
        
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("favicon.png")">
    </head>
    <body>
    	<div class="navbar navbar-fixed-top">
    		<div class="navbar-inner">
    			<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		            	<span class="icon-bar"></span>
		            	<span class="icon-bar"></span>
		            	<span class="icon-bar"></span>
					</a>
					<a class="brand" href="/">DES</a>
	    			<div class="nav-collapse">
		    			<ul class="nav">
		    				<li class="@("active".when(routes.Application.index.toString() == request.path).toString())"><a href="@routes.Application.index()">Home</a></li>
		    				<li class="@("active".when(routes.Application.projects.toString() == request.path).toString())"><a href="@routes.Application.projects()">Projects</a></li>
		    				<li class="@("active".when(routes.Application.presets.toString() == request.path).toString())"><a href="@routes.Application.presets()">Presets</a></li>
		    				<li class="@("active".when(routes.Application.applications.toString() == request.path).toString())"><a href="@routes.Application.applications()">Applications</a></li>
		    				<li class="@("active".when(routes.Application.docs.toString() == request.path).toString())"><a href="@routes.Application.docs()">Docs</a></li>
		    				<li class="@("active".when(routes.Application.help.toString() == request.path).toString())"><a href="@routes.Application.help()">Help</a></li>
		    			</ul>
		    			<ul class="nav pull-right">
		    				<li class="divider-vertical"></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									Administrator<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#"><i class="icon-edit"></i> Change Settings</a></li>
									<li class="divider"></li>
									<li><a href="#"><i class="icon-off"></i> Logout</a>
								</ul>
							</li>
							<li class="divider-vertical"></li>
							<li><a href="#"><i class="icon-white icon-off"></i></a></li>
						</ul>
	    			</div>
	    		</div>
	    	</div>
    	</div>
    	<div class="container">
	    	@content
	    </div>
    </body>
    <script type="text/javascript" src="@routes.Assets.at("js/jquery-1.7.1.min.js")" ></script>
    <script type="text/javascript" src="@routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")" ></script>
    <script type="text/javascript" src="@routes.Assets.at("coffee/main.min.js")" ></script>
</html>